body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #3366ff;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background: black;
  color: lime;
  border: 2px solid lime;
  cursor: pointer;
}

button:hover {
  background: lime;
  color: black;
}